{% extends "common.html" %}
{% block inside %}
<h1>Place Order</h1>
<form action="/place_order" method="post">
    <div>
        <label for="consumer_email">Consumer Email</label><br>
        <input type="email" id="consumer_email" name="consumer_email" placeholder="johnsmith@coldmail.com" required><br>
    </div>
    <div>
        <label for="restaurant_name">Restaurant Name</label><br>
        <input type="text" id="restaurant_name" name="restaurant_name" placeholder="Dimitris Greek Food" required><br>
    </div>
    <div>
        <label for="item_name">Item Name</label><br>
        <input type="text" id="item_name" name="item_name" placeholder="Caesar Salad" required><br>
    </div>
    <div>
        <label for="special_instructions">Special Instructions</label><br>
        <input type="text" id="special_instructions" name="special_instructions" placeholder="Ring bell"><br>
    </div>
    <div>
        <label for="tip">Tip</label><br>
        <input type="number" id="tip" name="tip" placeholder="3.99" required><br> 
        <!--?Not sure about this one, app.py expects string for tip?--> 
    </div>
    <!--?Not sure why we need status here, or why it's a string-->
    <!--^^We don't, according to place_order function in handlers.py-->
    <input type="submit" value="Place Order">
</form>
{% endblock %}
<!--
# EXPECTED VALUES FROM THE FORM (From app.py)
# "tip": { "type": "string" },
# "status": { "type": "string" },
# "special_instructions": { "type": "string" },
# "consumer_email": { "type": "string" },
# "restaurant_name": { "type": "string" },
# "item_name": { "type": "string" },
-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->