{% extends "common.html" %}
{% block inside %}
    <h1>Welcome to SpeedyFoods</h1>
    <!--  A button that shows a list of Users -->
    <form action="/view_users">
        <input type="submit" value="View Users" />
    </form>

    <!-- A button that shows a list of Restaurants along with their raitng -->
    <form action="/view_restaurants">
        <input type="submit" value="View Restaurants" />
    </form>

    <!-- TODO: A button that shows a list of Restaurant Items -->
    <form action="/view_restaurant_items" method="post">
        <input type="text" id="restaurant_name" name="restaurant_name" value="" placeholder="Dimitris Greek Food">
        <input type="submit" value="View Items from Restaurant" />
    </form>
    <!-- TODO: A button that shows a list of Pending Orders -->
    <form action="/view_orders">
        <input type="submit" value="View Orders" />
    </form>

    <form action="/form_order">
        <input type="submit" value="Place Order" />
    </form>

    <!-- Rithik -->
    <!-- TODO: A button that USES DIVISION -->

    <!-- A form to register a user -->
    <!-- METADATA -->
        <!-- #   # user details
        #   "first_name": { "type": "string" },
        #   "last_name": { "type": "string" },
        #   "email": { "type": "string" },
        #   "phone": { "type": "number" },
        #   "type": { "type": "number" },
        #   # address info
        #   "zip": { "type": "string" },
        #   "city": { "type": "string" },
        #   "province": { "type": "string" },
        #   "building_number": { "type": "number" },
        #   "unit_number": { "type": "number" },
        #   "street_name": { "type": "string" },
        #   # card number info
        #   ! bank name
        #   ! card type
        #   ! payment system
        #   "card_number": { "type": "string" },
        #   "expiration_date": { "type": "number" },  -->
    
    <!-- button to go to register users form -->
    <form action="/form_user">
        <input type="submit" value="Register Users" />
    </form>
    
    <!-- button to go to register restaurant form -->
    <form action="/form_restaurant">
        <input type="submit" value="Register Restaurant" />
    </form>

    <!-- button to go to insert restaurant item form -->
    <form action="/form_item">
        <input type="submit" value="Insert Restaurant Item" />
    </form>

    <!-- TODO: A form to submit to place_order -->
        <!-- METADATA (reference the keys for this object):  -->
        <!-- example_order = {
            'tip': randint(0, 20),
            'status': 0,
            'special_instructions': ["None", "please Include utensils"][randint(0, 1)],
            'consumer_email': get_random_user_email_from_db(),
            'restaurant_name': restaurant_name,
            'item_name': get_random_item_from_restaurant(restaurant_name)
        } -->

    <!-- TODO: A form to submit to rate_restaurant -->
        <!-- METADATA (reference the keys for this object):  -->
        <!-- example_rating1 = {
            'restaurant': rest_id1,
            'cons_email1': get_random_user_email_from_db(),
            'rating_time': 0,  # not sure how to get a random time stamp,
            'value': randint(1, 5),
            'review': reviews[randint(0, 1)]
        } -->
{% endblock %}
