<!-- TODO: 
    - make user sign up form inputs have enough room for content, e.g email
    - add proper/consistent spacing for label/input pairs
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--  A button that shows a list of Users -->
    <form action="/view_users">
        <input type="submit" value="View Users" />
    </form>

    <!-- A button that shows a list of Restaurants along with their raitng -->
    <form action="/view_restaurants">
        <input type="submit" value="View Restaurants" />
    </form>

    <!-- TODO: A button that shows a list of Restaurant Items -->
    <form action="/view_restaurant_items" method="post">
        <input type="text" id="restaurant_name" name="restaurant_name" value="">
        <input type="submit" value="View Items from restaurant" />
    </form>
    <!-- TODO: A button that shows a list of Pending Orders -->
    <form action="/view_orders">
        <input type="submit" value="View orders" />
    </form>

    <!-- Rithik -->
    <!-- TODO: A button that USES DIVISION -->


    <h1>Register User</h1>
    <!-- A form to register a user -->
    <!-- METADATA -->
        <!-- #   # user details
        #   "first_name": { "type": "string" },
        #   "last_name": { "type": "string" },
        #   "email": { "type": "string" },
        #   "phone": { "type": "number" },
        #   "type": { "type": "number" },
        #   # address info
        #   "zip": { "type": "string" },
        #   "city": { "type": "string" },
        #   "province": { "type": "string" },
        #   "building_number": { "type": "number" },
        #   "unit_number": { "type": "number" },
        #   "street_name": { "type": "string" },
        #   # card number info
        #   "card_number": { "type": "string" },
        #   "expiration_date": { "type": "number" },  -->
    <form action="/user_sign_up" method="post">
        <fieldset>
            <legend><strong>User details</strong></legend>
            
            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" name="first_name" placeholder="John" pattern="^\w+$" required><br>

            <label for="last_name">Last name:</label><br>
            <input type="text" id="last_name" name="last_name" placeholder="Smith" pattern="^\w+$" required><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" placeholder="johnsmith@coldmail.com" required><br>

            <label for="phone">Phone:</label><br>
            <input type="tel" id="phone" name="phone" placeholder="0001112222" value="" required><br>
        </fieldset>
        <br>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio#defining_a_radio_group -->
        <!-- label *for* is for the id, input *name* is for HTTP request -->
        <fieldset>
            <legend><strong>User type</strong></legend>
            
            <label for="consumer">Consumer</label>
            <input type="radio" id="consumer" name="user_type" value="0" checked><br>

            <label for="restaurant_manager">Restaurant Manager</label>
            <input type="radio" id="restaurant_manager" name="user_type" value="1"><br>

            <label for="speeder">Speeder</label>
            <input type="radio" id="speeder" name="user_type" value="2"><br>
        </fieldset>
        <br>
        <fieldset>
            <legend><strong>Address Info</strong></legend>
            
            <label for="zip">Zip:</label><br>
            <input type="text" id="zip" name="zip" minlength="7" maxlength="7" placeholder="A1B C2D" pattern="^\w\d\w\s\d\w\d$" required><br> 
            
            <label for="city">City:</label><br>
            <input type="text" name="city" id="city" placeholder="Ottawa" pattern="^\w+$" required><br>

            <label for="province">Province:</label><br>
            <input type="text" name="province" id="province" placeholder="ON" maxlength="2" required><br>

            <label for="building_number">Building Number:</label>
            <input type="number" name="building_number" id="building_number" placeholder="1234" required><br>

            <!-- Not required! possible not to live in appt. -->
            <label for="unit_number">Unit Number:</label>
            <input type="number" name="unit_number" id="unit_number" placeholder="12"><br>

            <label for="street_name">Street Name:</label>
            <input type="text" name="street_name" id="street_name" pattern="\w+ \w+" placeholder="Watercress Street" required><br>
        </fieldset>
        <br>
        <fieldset>
            <legend><strong>Paymend Card Info:</strong></legend>
            
            <!-- https://stackoverflow.com/questions/48534229/what-is-the-correct-input-type-for-credit-card-numbers -->
            <label for="card_number">Card Number:</label>
            <input type="tel" name="card_number" id="card_number" pattern="[0-9\s]{13,19}" placeholder="1111 2222 3333 4444">

            <label for="expiration_date">Expiration Date:</label>
            <input type="text" pattern="^\d\d\/\d\d$" placeholder="11/22">
        </fieldset>
        <br>
        <input type="submit" value="Submit">
    </form>

    <h1>Register Restaurant</h1>
    <!-- 
    METADATA (reference the keys for this object): 
    register_restaurant_detail = {
        "restaurant_manager_email": get_random_user_email_from_db(),
        "restaurant_name": restaurant_names[i],
        "cuisine": get_random_item_from(list_of_cuisine),
    }
    -->
    <form action="/register_restaurant" method="post" >
        <label for="restaurant_name">Restaurant Name:</label><br>
        <input type="text" id="restaurant_name" name="restaurant_name" value=""><br>
        
        <label for="restaurant_manager_email">Manager email (Must Already be a User): <label><br>
        <input type="text" id="restaurant_manager_email" name="restaurant_manager_email" value=""><br><br>

        <label for="cuisine">Cuisine:</label><br>
        <input type="text" id="cuisine" name="cuisine" value=""><br><br>

        <input type="submit" value="Submit">
    </form>

    <h1></h1>
    <!-- TODO: A form to submit to insert_restaurant_item -->
        <!-- METADATA (reference the keys for this object):  -->
        <!-- item_details = {
            "item_name": get_random_item_from(list_of_dishes),
            "restaurant_name": get_random_restaurant_from_db(),
            "price": randint(1, 30),
            'user_email': get_random_user_email_from_db()
        } -->

    <h1></h1>
    <!-- TODO: A form to submit to place_order -->
        <!-- METADATA (reference the keys for this object):  -->
        <!-- example_order = {
            'tip': randint(0, 20),
            'status': 0,
            'special_instructions': ["None", "please Include utensils"][randint(0, 1)],
            'consumer_email': get_random_user_email_from_db(),
            'restaurant_name': restaurant_name,
            'item_name': get_random_item_from_restaurant(restaurant_name)
        } -->

    <h1></h1>
    <!-- TODO: A form to submit to rate_restaurant -->
        <!-- METADATA (reference the keys for this object):  -->
        <!-- example_rating1 = {
            'restaurant': rest_id1,
            'cons_email1': get_random_user_email_from_db(),
            'rating_time': 0,  # not sure how to get a random time stamp,
            'value': randint(1, 5),
            'review': reviews[randint(0, 1)]
        } -->



    
<!-- Example:  -->
    <!--
    <h1>Whats good babygirl</h1>
    <form action="/register_restaurant">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
      </form>
    -->
</body>
</html>