<!-- TODO: 
    - should payment_system and bank_name be enums
        - standardized place for lists of names (used by random gen as well)
    - get card expiry date working: 11/22 -> SQL date
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .large-section {
            border: 0.25rem solid rgb(130, 184, 100);
            padding: 2rem;
            margin: 2rem;
        }
        form div {
            margin-bottom: 1rem;
        }

        form input {
            margin-top: 0.25rem;
        }

        form input:not(input[type="radio"]):not(input[type="submit"]) {
            min-width: 12rem;
        }
    </style>
</head>
<body>
    <!--  A button that shows a list of Users -->
    <form action="/view_users">
        <input type="submit" value="View Users" />
    </form>

    <!-- A button that shows a list of Restaurants along with their raitng -->
    <form action="/view_restaurants">
        <input type="submit" value="View Restaurants" />
    </form>

    <!-- TODO: A button that shows a list of Restaurant Items -->
    <form action="/view_restaurant_items" method="post">
        <input type="text" id="restaurant_name" name="restaurant_name" value="">
        <input type="submit" value="View Items from restaurant" />
    </form>
    <!-- TODO: A button that shows a list of Pending Orders -->
    <form action="/view_orders">
        <input type="submit" value="View orders" />
    </form>

    <!-- A form to register a user -->
    <!-- METADATA -->
        <!-- #   # user details
        #   "first_name": { "type": "string" },
        #   "last_name": { "type": "string" },
        #   "email": { "type": "string" },
        #   "phone": { "type": "number" },
        #   "type": { "type": "number" },
        #   # address info
        #   "zip": { "type": "string" },
        #   "city": { "type": "string" },
        #   "province": { "type": "string" },
        #   "building_number": { "type": "number" },
        #   "unit_number": { "type": "number" },
        #   "street_name": { "type": "string" },
        #   # card number info
        #   "card_number": { "type": "string" },
        #   "expiration_date": { "type": "number" },  -->
    
    <div class="large-section">
        <h1>Register User</h1>
        <form action="/user_sign_up" method="post">
            <fieldset>
                <legend><strong>User Details</strong></legend>
                <div>
                    <label for="first_name">First Name:</label><br>
                    <input type="text" id="first_name" name="first_name" placeholder="John" pattern="^\w+$" required><br>
                </div>
                <div>
                    <label for="last_name">Last name:</label><br>
                    <input type="text" id="last_name" name="last_name" placeholder="Smith" pattern="^\w+$" required><br>
                </div>
                <div>
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" placeholder="johnsmith@coldmail.com" required><br>
                </div>
                <div>
                    <label for="phone">Phone:</label><br>
                    <input type="tel" id="phone" name="phone" placeholder="0001112222" value="" required><br>
                </div>
            </fieldset>
            <br>
            <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio#defining_a_radio_group -->
            <!-- label *for* is for the id, input *name* is for HTTP request -->
            <fieldset>
                <legend><strong>User type</strong></legend>
                
                <label for="consumer">Consumer</label>
                <input type="radio" id="consumer" name="user_type" value="0" checked><br>
    
                <label for="restaurant_manager">Restaurant Manager</label>
                <input type="radio" id="restaurant_manager" name="user_type" value="1"><br>
    
                <label for="speeder">Speeder</label>
                <input type="radio" id="speeder" name="user_type" value="2"><br>
            </fieldset>
            <br>
            <fieldset>
                <legend><strong>Address Info</strong></legend>
                <div>
                    <label for="zip">Zip:</label><br>
                    <input type="text" id="zip" name="zip" minlength="7" maxlength="7" placeholder="A1B C2D" pattern="^\w\d\w\s\d\w\d$" required><br> 
                </div>
                <div>
                    <label for="city">City:</label><br>
                    <input type="text" name="city" id="city" placeholder="Ottawa" pattern="^\w+$" required><br>
                </div>
                <div>
                    <label for="province">Province:</label><br>
                    <input type="text" name="province" id="province" placeholder="ON" maxlength="2" required><br>
                </div>
                <div>
                    <label for="building_number">Building Number:</label><br>
                    <input type="number" name="building_number" id="building_number" placeholder="1234" required><br>
                </div>
                <div>
                    <!-- Not required! possible not to live in appt. -->
                    <label for="unit_number">Unit Number:</label><br>
                    <input type="number" name="unit_number" id="unit_number" placeholder="12"><br>
                </div>
                <div>
                    <label for="street_name">Street Name:</label><br>
                    <input type="text" name="street_name" id="street_name" pattern="\w+ \w+" placeholder="Watercress Street" required><br>
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend><strong>Payment Card Info:</strong></legend>
                <div>
                    <label for="bank_name">Bank Name:</label><br>
                    <input type="text" id="bank_name" name="bank_name" required>
                </div>
                <div>
                    <label for="card_type">Card Type:</label><br>
                    <input type="text" id="card_type" name="card_type" required>
                </div>
                <div>
                    <label for="payment_system">Payment System:</label><br>
                    <input type="text" id="payment_system" name="payment_system" required>
                </div>
                <div>
                    <!-- https://stackoverflow.com/questions/48534229/what-is-the-correct-input-type-for-credit-card-numbers -->
                    <label for="card_number">Card Number:</label><br>
                    <input type="tel" name="card_number" id="card_number" pattern="[0-9\s]{13,19}" placeholder="1111 2222 3333 4444">
                </div>
                <div>
                    <label for="expiration_date">Expiration Date:</label><br>
                    <input type="text" pattern="^\d\d\/\d\d$" id="expiration_date" name="expiration_date" placeholder="11/22">
                </div>
            </fieldset>
            <br>
            <input type="submit" value="Register User">
        </form>
    </div>
    

    <h1>Register Restaurant</h1>
    <!-- 
    METADATA
    "restaurant_manager_email": { "type": "string" },
    "restaurant_name": { "type": "string" },
    "cuisine": { "type": "string" }, 
    -->
    <form action="/register_restaurant" method="post" >
        <label for="restaurant_name">Restaurant Name:</label><br>
        <input type="text" id="restaurant_name" name="restaurant_name" value=""><br>
        
        <label for="restaurant_manager_email">Manager email (Must Already be a User): <label><br>
        <input type="text" id="restaurant_manager_email" name="restaurant_manager_email" value=""><br><br>

        <label for="cuisine">Cuisine:</label><br>
        <input type="text" id="cuisine" name="cuisine" value=""><br><br>

        <input type="submit" value="Submit">
    </form>

    <h1></h1>
    <!-- TODO: A form to submit to insert_restaurant_item -->
        <!-- # "item_name": { "type": "string" },
        # "restaurant_name": { "type": "string" },
        # "price": { "type": "number" }, -->

    <h1></h1>
    <!-- TODO: A form to submit to place_order -->
        <!-- # "tip": { "type": "string" },
        # "status": { "type": "string" },
        # "special_instructions": { "type": "string" },
        # "consumer_email": { "type": "string" },
        # "restaurant_name": { "type": "string" },
        # "item_name": { "type": "string" }, -->

    <h1></h1>
    <!-- TODO: A form to submit to rate_restaurant -->
        <!-- # "tip": { "type": "string" },
        # "restaurant": { "type": "string" },
        # "user_email": { "type": "string" },
        # "rating_time": { "type": "string" },
        # "value": { "type": "string" },
        # "review": { "type": "string" }, -->



    
<!-- Example:  -->
    <!--
    <h1>Whats good babygirl</h1>
    <form action="/register_restaurant">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <input type="submit" value="Submit">
      </form>
    -->
</body>
</html>